.elementor-437
  .elementor-element.elementor-element-fba1e60:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-437
  .elementor-element.elementor-element-fba1e60
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-703803f);
}
.elementor-437 .elementor-element.elementor-element-fba1e60 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-437
  .elementor-element.elementor-element-fba1e60
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-437
  .elementor-element.elementor-element-3924af1
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #e5d7ca;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 150px 40px 0px 200px;
}
.elementor-437
  .elementor-element.elementor-element-3924af1
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-437 .elementor-element.elementor-element-e4e7483 .wdt-heading-holder,
.elementor-437
  .elementor-element.elementor-element-e4e7483
  .wdt-heading-holder
  > .wdt-heading-separator-wrapper
  .wdt-heading-separator,
.elementor-437
  .elementor-element.elementor-element-e4e7483
  .wdt-heading-holder
  > .wdt-heading-title-wrapper
  .wdt-heading-title,
.elementor-437
  .elementor-element.elementor-element-e4e7483
  .wdt-heading-holder
  > .wdt-heading-subtitle-wrapper
  .wdt-heading-subtitle {
  text-align: start;
  justify-content: start;
  justify-items: start;
}
.elementor-437
  .elementor-element.elementor-element-e4e7483
  .wdt-heading-holder
  .wdt-heading-title-wrapper
  .wdt-heading-title {
  align-items: center;
}
.elementor-437
  .elementor-element.elementor-element-e4e7483
  .wdt-heading-holder
  .wdt-heading-subtitle-wrapper
  .wdt-heading-subtitle {
  align-items: center;
}
.elementor-437
  .elementor-element.elementor-element-e4e7483
  .wdt-heading-holder
  .wdt-heading-subtitle-wrapper {
  color: var(--e-global-color-accent);
}
.elementor-437
  .elementor-element.elementor-element-13323f9
  .elementor-widget-container {
  text-align: start;
  justify-content: start;
  justify-items: start;
}
.elementor-437
  .elementor-element.elementor-element-13323f9
  .wdt-button-holder
  .wdt-button {
  margin: 40px 0px 0px 0px;
}
.elementor-437
  .elementor-element.elementor-element-8dce64f
  > .elementor-element-populated {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #e5d7ca;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-437
  .elementor-element.elementor-element-8dce64f
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-437 .elementor-element.elementor-element-375bcb5 img {
  width: 100%;
  max-width: 100%;
  height: 827px;
  object-fit: cover;
}
@media (max-width: 1540px) {
  .elementor-437
    .elementor-element.elementor-element-3924af1
    > .elementor-element-populated {
    padding: 120px 30px 0px 100px;
  }
  .elementor-437 .elementor-element.elementor-element-e4e7483 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-437 .elementor-element.elementor-element-375bcb5 img {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width:1440px)
{
    .elementor-437 .elementor-element.elementor-element-13323f9 .wdt-button-holder .wdt-button{
        margin: 10px 0px 0px 0px !important;
    }
    .wdt-heading-holder .wdt-heading-title-wrapper{
        font-size: 45px !important;
    }
}
@media (max-width:1366px)
{
    .elementor-437 .elementor-element.elementor-element-13323f9 .wdt-button-holder .wdt-button{
        margin: 0px 0px 0px 0px !important;
    }
    .elementor-1009 .elementor-element.elementor-element-13323f9 .wdt-button-holder .wdt-button {
        margin: 0px 0px 0px 0px;
    }
    .elementor-1008 .elementor-element.elementor-element-13323f9 .wdt-button-holder .wdt-button {
        margin: 0px 0px 0px 0px !important;
    }
}
@media (max-width: 1280px) {
  .elementor-437
    .elementor-element.elementor-element-3924af1
    > .elementor-element-populated {
    padding: 120px 20px 0px 50px;
  }
}
@media (max-width: 1024px) {
  .elementor-437
    .elementor-element.elementor-element-3924af1
    > .elementor-element-populated {
    padding: 70px 50px 180px 50px;
  }
  .elementor-437
    .elementor-element.elementor-element-13323f9
    .wdt-button-holder
    .wdt-button {
    margin: 40px 0px 0px 0px;
  }
  .elementor-437 .elementor-element.elementor-element-375bcb5 img {
    width: 100%;
    max-width: 100%;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .elementor-437
    .elementor-element.elementor-element-3924af1
    > .elementor-element-populated {
    padding: 50px 20px 180px 20px;
  }
  .elementor-437
    .elementor-element.elementor-element-13323f9
    .wdt-button-holder
    .wdt-button {
    margin: 30px 0px 0px 0px;
  }
}
@media (max-width: 479px) {
  .elementor-437
    .elementor-element.elementor-element-3924af1
    > .elementor-element-populated {
    padding: 50px 20px 180px 20px;
  }
  .elementor-437
    .elementor-element.elementor-element-e4e7483
    .wdt-heading-holder
    .wdt-heading-title-wrapper
    .wdt-heading-title {
    letter-spacing: 2px;
  }
}
@media (max-width: 1024px) and (min-width: 480px) {
  .elementor-437 .elementor-element.elementor-element-3924af1 {
    width: 100%;
  }
  .elementor-437 .elementor-element.elementor-element-8dce64f {
    width: 100%;
  }
}
